
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   }
body{
    background-image: url("sundaypic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.viswa{
    display:flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap:30px;
    background-image:linear-gradient(red,purple);
}
ul li{
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color:white;

}
ul{
    display:flex;
    flex-wrap: wrap;
    gap:45px;
}
.viswa2{
    margin: 8px 9px;
}
.profile{
    margin:110px 30px;
    font-weight: bold;
    font-size: 20px;
}
.profile1{
    /* height:400px; */
    /* width:450px; */
    
}
.profile2{
    margin:10px -41px;
    
}
.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
span{
    color:chartreuse;
}
.viswa6{
    display: flex;
}
.viswa10{
    display: flex;
}
.viswa7{
    background-color: aqua;
}
.viswa8{
    background-color: coral;
}
.viswa9{
    background-color: green;
}
.viswa11{
    background-color: red;
}
.viswa12{
    background-color: gold;
}
.viswa13{
    background-color: moccasin;
}
.viswa14{

    color:whitesmoke;
}
.cle{
    box-shadow: 0px 0px 5px 3px;
}
.sunday6{
    height: 100vh;
    background-color: aqua;
}
.boxes{
    border-radius: 20px;
}
.viswa_box{
    background-color: transparent;
    border: none;
}
.andia{
    border: none;
    /* visibility: hidden; */
}
.india{
    border: none;
}
.pndia{
    border: none;
}
